* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

body {

    background: rgb(255,161,235);
    background: linear-gradient(35deg, rgba(255,161,235,1) 1%, rgba(111,111,253,1) 46%, rgba(90,145,255,1) 72%, rgba(0,212,255,1) 100%);

     color: white;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#box {
    display: grid;
    grid-template-areas: "form" "gene";
    background-color: black;
    
    width: 210px;
    height: 300px;
    border-radius: 1rem
}

#box #form {
    font: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box .box_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container #form h1 {
    font-size: medium;
    margin: 2rem 0 0.5rem 0;

}

.container .box_form .field {
    display: flex;
    flex-direction: column;
}

.container .box_form .field label {

    font-size: 12px ;
    margin: 0.5rem 0rem 0.3rem 1rem;
}

.container .box_form .field input {
    border-radius: 1rem;
    height: 35px; 
    width: 150px;
    padding: 1rem;

    color: gray;
    background: none;
    border: 1px solid rgba(111,111,253,1);
}


.container .box_form #send_button{
    margin-top: 1rem;
    border-radius: 1rem;
    width: 8rem;

    background: rgba(111,111,253,1);
    color: white;
    width: 120px;
    height: 35px;
    border: 1px solid rgba(111,111,253,1);
    font-size: 12px;
    transition: 0.6s;
    overflow: hidden;
}


.container .box_form #send_button:focus {
    outline: none;
}

.container .box_form #send_button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.container .box_form #send_button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);

    
}

.container .box_form #send_button:hover {
    background: none;

    cursor: pointer;
}

.container .box_form #send_button:hover:before {
    transform: translateX(300%) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

.container .box_form #send_button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}